<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Task Details</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../..">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../tasks">Tasks</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Details</a>
        </li>
      </ul>
    </nav>
    <div class="container" style="max-width: 960px">
      <h2 class="my-4">Task Details</h2>
      <p>
        <a class="btn btn-secondary btn-sm" href="?action=edit">Edit</a>
      </p>
      <table class="table my-4">
        <tr>
          <th>ID</th>
          <td><span th:text="${task.taskId}">ID</span></td>
        </tr>
        <tr>
          <th>Updated</th>
          <td><span th:text="${task.timestamp}">Timestamp</span></td>
        </tr>
        <tr>
          <th>Title</th>
          <td><span th:text="${task.title}">String</span></td>
        </tr>
        <tr>
          <th>Description</th>
          <td><pre th:text="${task.description}"></pre></td>
        </tr>
        <tr>
          <th></th>
          <td><input type="checkbox" name="done" th:checked="${task.done}" disabled="disabled"> Done</td>
        </tr>
      </table>
    </div>
  </body>
</html>
